<div class="br-header" no-functions>
  <div class="container-lg">
    <div class="flex-container">
      <div class="logo">
        <!--img(src="https://picsum.photos/200/300" alt="logo")--><img src="https://www.gov.br/++theme++padrao_govbr/img/govbr-colorido-b.png" alt="logo">
        <div class="sign">Ministério da Ciência e Tecnologia, Inovações e Comunicações</div>
      </div>
      <div class="actions">
        <div class="links">
          <button class="br-button" type="button" circle mini><i class="fas fa-ellipsis-v"></i>
          </button>
          <ul>
            <li class="title">Acesso Rápido</li>
            <li><a href="javascript:void(0);">Link de acesso 1</a></li>
            <li><a href="javascript:void(0);">Link de acesso 2</a></li>
            <li><a href="javascript:void(0);">Link de acesso 3</a></li>
            <li><a href="javascript:void(0);">Link de acesso 4</a></li>
          </ul>
        </div>
        <div class="functions">
          <button class="br-button" type="button" circle mini><i class="fas fa-th"></i>
          </button>
          <ul>
            <li class="title">Funcionalidades do Sistema</li>
            <li>
              <button class="br-button" type="button" circle mini> <i class="fas fa-chart-bar"></i><span class="text">Funcionalidade 1</span>
              </button>
            </li>
            <li>
              <button class="br-button" type="button" circle mini> <i class="fas fa-headset"></i><span class="text">Funcionalidade 2</span>
              </button>
            </li>
            <li>
              <button class="br-button" type="button" circle mini><i class="fas fa-comment"></i><span class="text">Funcionalidade 3</span>
              </button>
            </li>
            <li>
              <button class="br-button" type="button" circle mini><i class="fas fa-adjust"></i><span class="text">Funcionalidade 4</span>
              </button>
            </li>
          </ul>
        </div>
        <div class="search-btn">
          <button class="br-button" type="button" circle mini><i class="fas fa-search"></i>
          </button>
        </div>
        <div class="login">
          <button class="br-button" type="button" mini><i class="fas fa-user"></i><span class="ml-1">Entrar</span>
          </button>
        </div>
        <div class="avatar">
          <div class="br-badge" danger>
            <div class="icon">5</div>
            <div class="content">
              <div class="br-avatar">
                <div class="image"><img src="https://picsum.photos/id/823/400" alt="Avatar"></div>
              </div>
            </div>
          </div>
          <button class="br-button" type="button" mini circle><i class="fas fa-angle-down"></i>
          </button>
        </div>
      </div>
      <div class="menu">
        <button class="br-button" type="button" circle mini><i class="fas fa-bars"></i>
        </button>
        <div class="title">Sistema Nacional de Laboratórios em Nanotecnologias (SisNANO)</div>
        <div class="subtitle">Subtítulo do Cabeçalho</div>
      </div>
      <div class="search">
        <div class="br-input has-icon">
          <label></label>
          <input class="has-icon" type="text" placeholder="O que você procura?">
          <button class="icon" type="button"><span class="icon"><i class="fas fa-search"></i></span></button>
        </div>
        <button class="br-button search-close" type="button" circle mini><i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<script src="../js/dsgov.js"></script>
