<div class="container">
  <h1 class="mt-5">Pages#home</h1>
  <p class="mb-4">Data Flora Reloaded Testing</p>
  <h2><a href="/card">Cards</a></h2>
  <h2><a href="/grid">Grid</a></h2>
  <h2><a href="/button">Buttons</a></h2>
</div>

